@charset "UTF-8";
section.page {
    position: relative;
    /* nav  의 기준! */
}
header {
    width: 100%;
    height: 80px;
    box-sizing: border-box;
    
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;

    /* outline: 1px solid red; */
}
header.ac {
    border-bottom: 1px solid #111;
}
header .header-wrap {
    height: 100%;

    position: relative;
    /* outline: 1px solid red; */
}
header h1.index-logo {
    height: 25px;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

    /* outline: 2px solid red; */
}
header h1.index-logo > a {
    height: 100%;
}
header h1.index-logo > a > img {
    height: 100%;
}

header .menu-btn {
    width: 30px;
    height: 30px;
    cursor: pointer;
    padding: 0 12.5px;
    box-sizing: border-box;

    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    /* outline: 1px solid red; */

}
header .menu-btn span {
    width: 5px;
    height: 5px;
    background-color: #111;
    border-radius: 3px;
    display: block;

}

header .menu-btn span:nth-child(2) {
    margin: 7.5px 0;
}

nav.m-gnb {
    width: 100%;
    max-width: 1920px;
    height: 100%;
    background-color: rgba(255,255,255,0.8);

    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    
    display: none;
    z-index: 888;
}
nav.m-gnb .inner {
    height: 100%;

   
    

    position: relative; /* gnb , sns-link 의 기준 */
}
nav.m-gnb .inner .gnb {
    text-align: right;
    
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

}
nav.m-gnb .inner .gnb .gnb-list {}
nav.m-gnb .inner .gnb .gnb-list li {
    margin-bottom: 30px;
}
nav.m-gnb .inner .gnb .gnb-list li:last-child {
    margin-bottom: 0;
}
nav.m-gnb .inner .gnb .gnb-list li a {   
    font-weight: 800;
    font-size: 48px;
    font-size: 3rem;
    color: #111;

}
nav.m-gnb .inner .gnb .gnb-list li a:hover {
    text-decoration: underline;
    font-style: italic;
}

nav.m-gnb .sns-link {
    text-align: left;
    height: 540px;

    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    /* outline: 2px solid red; */

}
nav.m-gnb .sns-link .sns-list {
    height: 100%;
    padding: 50px 0;
    box-sizing: border-box;
}
nav.m-gnb .sns-link .sns-list li {
    margin-bottom: 30px;
}
nav.m-gnb .sns-link .sns-list li a {
    width: 90px;
    height: 90px;
    /* outline: 2px solid red; */
}
nav.m-gnb .sns-link .sns-list li:first-child a {
    padding: 5px;
    box-sizing: border-box;
    /* outline: 2px solid red; */
}
nav.m-gnb .sns-link .sns-list li a img {
    width: 100%;

    transition: all 0.3s;
}
nav.m-gnb .sns-link .sns-list li a:hover img {
    transform: scale(1.2);
}
