@charset "UTF-8";
section.cam-sec {
    background-image: url('../img/back-left.png'), url('../img/back-right.png');
    background-repeat: repeat-y;
    background-position: left -35px, right -35px;

    width: 100%;
      
}


article.cam-container { 
   padding-top: 80px;
}
article.cam-container .cam-tit-wrap {
    text-align: center;
    margin-bottom: 50px;
}
article.cam-container .cam-tit-wrap .cam-tit {
    font-size: 24px;
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 20px;

    opacity: 0;
}
article.cam-container .cam-tit-wrap .cam-tit span {
    font-size: 16px;
    font-size: 1rem;
    font-weight: 400;
}
article.cam-container .cam-tit-wrap .cam-des {
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 28px;

    position: relative;
    top: -5px;

    opacity: 0;

}




article.cam-container .cam-con-wrap {
    width: 100%;
}
article.cam-container .cam-con-wrap .cam-video {
    width: 1280px;
    margin-bottom: 200px;
}
article.cam-container .cam-con-wrap .cam-video video {
    width: 100%;
    
}
article.cam-container .cam-con-wrap .cam-main-img {
    width: 800px;
    margin: 0 auto;
    border: 5px solid #111;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 100px;

    

   
}
article.cam-container .cam-con-wrap .cam-main-img img {
    width: 100%;

}


article.cam-container .cam-con-wrap .cam-p-wrap {
    width: 100%;
    margin-bottom: 200px;
}
article.cam-container .cam-con-wrap .cam-p-wrap .cam-g-tit {
    font-size: 24px;
    font-size: 1.5rem;
    font-weight: 800;
    text-align: center;
    margin-bottom: 50px;
}
.cam-p-wrap .cam-photo {
    width: 100%;
}
.cam-p-wrap .cam-photo .cam-box {
    width: 6.777%;
    height: 500px;
    overflow: hidden;
    border: 1px solid #fff;
    box-sizing: border-box;

    background-color: #111;
    
    /* outline: 1px solid red; */

    float: left;

    position: relative; /* .cam-img-box 의 기준 */
}
.cam-p-wrap .cam-photo .cam-box {
    width: 6.777%;
    transition: all 0.5s;
}
/* .cam-p-wrap .cam-photo .cam-box:first-child {
    width: 39%;
} */

.cam-p-wrap .cam-photo .cam-box.on {
    width: 39%;
    transition: all 0.5s;
}
/* .cam-p-wrap .cam-photo .cam-box ~ .cam-box {
    margin-left: 1%;
} */
.cam-p-wrap .cam-photo .cam-box a {
    color: #fff;
    text-decoration: underline;
    text-align: center;
    font-size: 18px;
    font-size: 1.125rem;
    /* outline: 1px solid red; */

    position: absolute;
    top: 15px;
    left: 20px;
    z-index: 10;
}
.cam-p-wrap .cam-photo .cam-box .cam-img-box {
    /* width: 500px;
    height: 500px; */
    /* position: absolute;
    top: 0;
    left: 100%; */

    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    
}
/* .cam-p-wrap .cam-photo .cam-box .cam-img-box:first-child {
    
    display: block;
} */
.cam-p-wrap .cam-photo .cam-box .cam-img-box img {
    /* width: 100%; */
    height: 100%;
}


.cam-con-wrap .cam-pro-wrap {
    width: 100%;
}
.cam-pro-wrap .cam-subtit {
    font-size: 24px;
    font-size: 1.5rem;
    font-weight: 800;
    text-align: center;
    margin-bottom: 50px;
}
.cam-pro-wrap .cam-pro-box {

}
.cam-pro-wrap .cam-pro-box > div {
    float: left;
}
.cam-pro-wrap .cam-pro-box .c-pro-img-box {
    width: 50%;
    padding: 30px;
    /* border: 1px dashed #111; */
    box-sizing: border-box;


    /* outline: 1px solid red; */
}
.cam-pro-wrap .cam-pro-box .c-pro-img-box img {
    width: 100%;
}

.cam-pro-wrap .cam-pro-box .cam-pro-des {
    width: 50%;
    height: 100%;
  
}

.cam-pro-wrap .cam-pro-box .right {
    text-align: right;
    padding: 207px 30px;
    box-sizing: border-box;
}
.cam-pro-wrap .cam-pro-box .left {
    text-align: left;
    padding: 233px 30px;
    box-sizing: border-box;
}
.cam-pro-wrap .cam-pro-box .cam-pro-des .cam-pro-name {
    font-size: 22px;
    font-size: 1.375rem;
    font-weight: 600;
    margin-bottom: 20px;
}
.cam-pro-wrap .cam-pro-box .cam-pro-des .cam-pro-name span {
    font-size: 16px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 18px;
}
.cam-pro-wrap .cam-pro-box .cam-pro-des .cam-pro-txt {
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 25px;
}
