@charset "UTF-8";

section.ex {
    background: url(../img/prdct_bg2.jpg) no-repeat center;
    background-size: cover;

    overflow: hidden;
    position: relative; /* ex-title의 기준 */
}

section.ex .ex-title {
    width: 100%;
    

    position: absolute;
    top: 30px;
   
}
.ex-title .tit-wrap {
    width: 100%;

    
}
.ex-title .tit-wrap .tit{
    font-family: "Crimson Pro", serif;
}
.ex-title .tit-wrap .ex-sub-tit {

    font-size: 18px;
    font-size: 1.125rem;
    font-weight: 500;
    color: #111;
    position: relative;
}
.ex-title .tit-wrap .ex-sub-tit::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #111;
    position: absolute;
    top: calc(100% + 10px);
    left: 50%;
    transform: translateX(-50%);
}


section.ex .gallery {
    width: 250%;
    position: relative;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

section.ex .gallery li {
    width: 12%;
    float: left;
    border: 7px solid #111;
    background-color: #fff;
    box-sizing: border-box;
    padding: 5px;
    margin-left: 20px;

    /* position: relative; */
    
}
/* section.ex .gallery li::before {
    content: "";
    display: block;
    width: 3px;
    height: 170px;
    background-color: #111;

    position: absolute;
    top: -172px;
    left: 50%;
} */

section.ex .gallery li ~ li {
    
}
section.ex .gallery li a {
    width: 100%;
    height: 100%;

    background-color: #111;
}
section.ex .gallery li a img {
    width: 100%;
    display: block;
}


section.ex .g-container {
    width: 100%;
    height: 100%;

    

}

section.ex .g-container .modal {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    background-color: rgba(255,255,255,0.9);

    display: none;
}




.modal .s-box {
    width: 100%;
    height: 100%;

    /* background-color: rgba(255,255,255,0.9); */
    position: relative;

    /* 슬라이드, des박스 기준, modalbutton */

    /* outline: 1px solid red; */
}

/* !!! 추가 !!!!! */
.modal .s-box .inbox {
    width: 640px; /* 슬라이드가 보여지는 공간과 동일하게 크기 설정! */

    position: absolute;
    top: 16%;
    left: 50%;

    transform: translateX(-50%);

    /* background-color: yellow; */
}

.modal .s-box .slide-box {
    width: 640px;
    height: 360px;
    
    border: 5px solid #111;
    box-sizing: border-box;

    overflow: hidden;

    /* position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%); */
}
/***************************** s-box 공통 css */
.modal .s-box .slide-box .slide {
    height: 100%;
}
.modal .s-box .slide-box .slide li {
    height: 100%;
    float: left;
}
.modal .s-box .slide-box .slide li video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.modal .s-box .slide-box .slide li img {
    width: 100%;
}
/***************************** s-box 공통 css */


.modal .s-box .slide-box .co-box {
    width: 500%;
}
.modal .s-box .slide-box .co-box li {
    width: 20%;
}

.modal .s-box .slide-box .sh-box {
    width: 800%;
}
.modal .s-box .slide-box .sh-box li {
    width: 12.5%;
}

.modal .s-box .slide-box .camo-box{
    width: 500%;
}
.modal .s-box .slide-box .camo-box li{
    width: 20%;
}

.modal .s-box .slide-box .balm-box {
    width: 700%;
}
.modal .s-box .slide-box .balm-box li {
    width: 14.28%;
}

.modal .s-box .slide-box .har-box {
    width: 1000%;
}
.modal .s-box .slide-box .har-box li {
    width: 10%;
}

.modal .s-box .slide-box .tf-box{
    width: 300%;
}
.modal .s-box .slide-box .tf-box li {
    width: 33.33%;
}

.modal .s-box .slide-box .car-box {
    width: 800%;
}
.modal .s-box .slide-box .car-box li {
    width: 12.5%;
}

/***************************** s-box 개별 css */
.modal .s-box .s-btn a {
    width: 40px;
    height: 40px;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.modal .s-box .s-btn .prev {
    left: 2%;
    left: -80px;


    /* display: none; */
}
.modal .s-box .s-btn .next {
    right: 2%;
    right: -80px;
}

.modal .s-box .s-btn a img {
    width: 100%;
}
.modal .inbox .modal-btn{
    width: 20px;
    height: 20px;
    border: 1px solid #111;
    cursor: pointer;
    /* outline: 1px solid red; */

    position: absolute;
    top: 0;
    right: -10%;
    /* background-color: lime; */
}
.modal .inbox .modal-btn img {
    width: 100%;
}

.modal .des-box {
    width: 1280px;

    /* background-color: rgba(255,255,255,0.9); */

    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    

}
.modal .des-box .des-wrap {
    width: 100%;
    padding: 0 50px;
    box-sizing: border-box;

    color: #111;
    text-align: center;

    
    
}

.modal .des-box .des-wrap .des-tit {
    font-size: 24px;
    font-size: 1.5rem;
    font-weight: 600;

    margin-bottom: 15px;
    position: relative;
    /* before 기준 */

}
.modal .des-box .des-wrap .des-tit::before {
    content: "";
    display: block;
    width: 250px;
    height: 3px;
    background-color: #111;
    z-index: -1;

    position: absolute;
    top: 95%;
    left: 50%;
    transform: translateX(-50%);
}




.modal .des-box .des-wrap .des-txt {
    font-size: 18px;
    font-size: 1.125rem;
    font-weight: 400;
    letter-spacing: 1.2px;
    line-height: 25px;
    word-break: keep-all;
    margin-bottom: 20px;
}
.modal .des-box .des-wrap .des-add {
    font-weight: 400;
    letter-spacing: 1.2px;
    line-height: 23px;
    text-decoration: underline;
    word-break: keep-all;
    color: #333;
}







