@charset "UTF-8";

footer {
    width: 100%;
    height: 60px !important; 
    padding: 30px 0;
    box-sizing: border-box;
    
    border-top: 1px solid #111;
    background-color: #fff;
}
footer .footer-inner {
    margin: 0 10%;
    max-width: 1920px;

    position: relative;
}
footer .footer-inner .footer-logo {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%); 
}
footer .footer-inner .footer-logo a {
    font-size: 16px;
    font-size: 1rem;
    font-weight: 600;
    color: black;

    font-family: "Crimson Pro", serif;
}
footer .footer-inner .list {}
footer .footer-list .list {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
footer .footer-list .list li {
    float: left;

    margin-left: 15px;
    font-size: 14px;
    font-size: 0.875rem;
    color: #999;
    position: relative;
    
}

footer .footer-list .list li::after {
    content: "";
    display: block;
    width: 1px;
    height: 10px;
    background-color: #999;

    position: absolute;
    top: 6px;
    left: -7px;
}
footer .footer-list .list li:first-child::after {
    display: none;
}